body {
  background-color: #5897D2;
  font-family: "Inconsolata", sans-serif;
  color: #fff;
}

.aboutus-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
}

.about {
  text-align: left;
}

.mission-image {
  width: 35vw;
  height: 100%;
}

.title {
  margin: 0px;
  padding: 0px;
  text-align: left;
  color: #F8C0E8;
  font-size: 4vw;
}

.subtitle {
  margin: 0px;
  padding: 0px;
  text-align: left;
  color: #19FFF1;
  margin: 10px 0px;
  font-size: 3.2vw;
}

.body-text {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: 3vw;
  color: #fff;
  width: 80%;
}

.team-container {
  display: inline-block;
  height: 90vh;
  margin-top: 10vh;
  width: 100vw;
  margin-right: 0;
}

.bio-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-bios {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0px;
  flex-direction: row;
  flex-wrap: wrap
}

.team-bio-image {
  width: 100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

.team-bio {
  width: 12vw;
  height: 100%;
}

.team-bio-name {
  font-weight: bolder;
  width: 100%;
  text-align: center;
  color: #F8C0E8;
  font-size: 3vw;
}

.team-bio-description {
  font-size: medium;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.team-pun {
  padding-left: 50px;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: large;
}

.scroll-down {
  position: absolute;
  width: 30%;
  height: 15vh;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#text {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 2vw;
  color: #fff;
}

.text {
  margin: 10px 0px;
  padding: 0px;
  text-align: left;
  font-size: 2vw;
  color: #fff;
}


#circle {
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 5vw;
  color: #F8C0E8;
}

#arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFE99B;
  font-size: 3vw;
}

.socials {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 40px;
}

.icons {
  font-size: 3vw;
  color: #19FFF1;
}

.link {
  color: #19FFF1;
}

.icons:visited,
.link:visited,
.icons:link,
.link:link,
.icons:active,
.link:active {
  color: #19FFF1;
}

.icons:hover,
.link:hover {
  color: #FFE99B;
}

.values-container {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values {
  height: 100%;
  width: 100%;
}

.values h1,
img,
p {
  text-align: left;
}

button {
  font-family: "Inconsolata", sans-serif;
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: left;
  text-decoration: none;
  font-size: 3vw;
  /* display: inline-block; */
  margin: 5px 0px;
  font-variation-settings: 'wght' 500;
}

#icon-button {
  font-size: 3vw;
  float: right;
  color: #FFE99B;
}

#button-container {
  width: 90%;
}

.scroll-down-safespace {
  position: absolute;
  top: 185vh;
}

.scroll-down-values {
  position: absolute;
  top: 285vh;
}


.team-container p,
img {
  padding-right: 50px;
}

#join {
  font-size: 2.1vw;
  padding-top: 50px;
  text-align: center;
}

#meet-team {
  padding-left: 50px;
  padding-top: 50px;
}

.safespace-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safespace {
  text-align: left;
  width: 70vw;
}


@media (min-width: 600px) and (max-width: 800px){
  .team-bio-description {
    font-size: 2.2vw;
    margin-bottom: 5px;
  }

  .team-bios {
    flex-wrap: wrap;
  }

  .team-bio{
    width: 25vw;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .body-text {
    font-size: 2vw;
  }
}


@media (min-width: 1000px) {
  .title {
    font-size: 3vw;
  }
  .subtitle {
    font-size: 1.5vw;
  }
  .team-bio-name {
    font-size: 2vw;
  }
  .body-text {
    font-size:1.5vw;
  }
  
  #join {
    font-size: 1.5vw;
  }
  #button-container {
    font-size: 0.3vw
  }
  #icon-button {
    font-size: 2vw;
  }
  .text {
    font-size: 1.3vw;
  }
  #text {
    font-size: 1.3vw;
  }
  button {
    font-size: 2.5vw;
  }
}

@media (max-width: 600px) {
  .aboutus-container {
    height: 45vh;
    margin-top: 12vh;
  }
  .container {
    flex-direction: column-reverse;
  }

  .title {
    margin-top: 5px;
  }

  .team-container {
    height: 45vh;
  }

  .values-container, #values-container {
    height: 45vh;
  }

  .safespace-container{
    height: 45vh;
  }
  .scroll-down {
    display: none;
  }

  .scroll-down-safespace {
    display: none;
  }
  .scroll-down-values {
    display: none;
  }

  .team-bios {
    flex-wrap: wrap;
  }

  .team-bio{
    width: 33vw;
  }

  .team-bio-description {
    font-size: 2.5vw;
    margin-bottom: 5px;
  }

  .body-text {
    font-size:3vw;
  }
}
