body {
    width: 100vw;
    height: 100vh;
}

.app-main {
    background-color: #f9cb2a;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "BebasNeue", 'san-serif';
}

.app-image {
    background-color: #fff;
    width: 35vw;
    height: 35vw;
    display: inline-block;
}

.app-slogan {
    width: 35vw;
    height: 35vw;
    display: inline-block;
    font-size: 2.5em;
    text-align: left;
}

.app-container {
    display: flex;
    justify-content: space-evenly;
}