body {
    height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #58D3EE 50%, #5897D2 50%, #5897D2 100%);
    font-family: "Inconsolata", sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
}

.game-name {
    color: #5897D2;
    font-size: calc(3vmin + 5px);
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    font-family: "Inconsolata", sans-serif;
    font-variation-settings: 'wght' 900;
}

h4 {
    margin-top: 10px;
    margin: 0px;
    padding: 0px;
    font-size: calc(2vmin +15px);
}

.sec1 {
    padding: 0px;
    margin: 0px;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-des {
    max-width: 30vw;
}

.game-design {
    max-width: 25vw;
    text-align: center;
}

.sec2 {
    padding: 0px;
    margin: 0px;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recruit {
    width: 198.63px;
    height: 200.56px;
    padding-top: 70px;
    display: block;
    margin: 30px;
}

.socials {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 40px;
    width: 15vw;
    display: inline-block;
}

.icons {
    font-size: calc(2vmin + 10px);
    color: #DE73EF;
}

a {
    /* font-size: calc(1vmin + px); */
    color: #DE73EF;
    text-decoration: none;

}

.icons:visited,
a:visited,
.icons:link,
a:link,
.icons:active,
a:active {
    color: #DE73EF;
    text-decoration: none;
}

#story:hover,
#join:hover,
.icons:hover {
    color: #FFE99B;
}

p {
    font-size: calc(2vmin + 4px);
    margin: 0;
    padding: 0;
}

#squiggly {
    margin-bottom: 10px;
}

#story {
    font-variation-settings: 'wght' 500;
    color: #DE73EF;
}

#join {
    font-variation-settings: 'wght' 500;
    color: #F8C0E8;
}

img {
    padding: 0;
    margin: 0;
}