body {
    height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    font-family: "Inconsolata", sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
}

.game-name {
    color: #5897D2;
    font-size: calc(3vmin + 5px);
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    font-family: "Inconsolata", sans-serif;
    font-variation-settings: 'wght' 900;
}

h4 {
    margin-top: 10px;
    margin: 0px;
    padding: 0px;
    font-size: calc(2vmin +15px);
}

.sec1 {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #58D3EE;;
}

.game-des {
    width: 30vw;
}

.game-design {
    width: 25vw;
    text-align: center;
}

.sec2 {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5897D2;
}


.socials {
    position: fixed;
    bottom: 0;
    left: 0px;
    padding: 40px;
    width: 15vw;
    display: inline-block;
}

.icons {
    font-size: calc(2vmin + 10px);
    color: #DE73EF;
}

a {
    /* font-size: calc(1vmin + px); */
    color: #DE73EF;
    text-decoration: none;

}

.icons:visited,
.icons:link,
.icons:active {
    color: #DE73EF;
    text-decoration: none;
}

#story:hover,
#join:hover,
.icons:hover {
    color: #FFE99B;
}

p {
    font-size: calc(2vmin + 4px);
    margin: 0;
    padding: 0;
}

#squiggly {
    margin-bottom: 10px;
}

#story {
    font-variation-settings: 'wght' 500;
    color: #DE73EF;
}

#join {
    font-variation-settings: 'wght' 500;
    color: #F8C0E8;
}

img {
    padding: 0;
    margin: 0;
}

@media (min-width: 850px) and (max-width: 1000px){
    
}

@media (min-width: 1000px) {
  
}

@media (max-width: 600px) {
  .container {
      flex-direction: column;
      margin-top: 15vh;
  }

  .sec1 {
    padding-top: 25vh;
    padding-bottom: 5vh;
  }
  .sec2  {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

  .game-des {
    width: 70vw;
  }

  .game-design {
    width: 70vw;
  }

}